<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mappers.HostBoardMapper">

	<insert id="insertPost" parameterType="com.bit.bnb.hostboard.model.PostVO" 
		useGeneratedKeys="true" keyProperty="postNo">
		insert into hostBoard (userId, title, content, date, viewCnt, nickName) 
		value(#{userId}, #{title}, #{content}, CURRENT_TIMESTAMP, 0, #{nickName})
	</insert>
	
	<select id="selectPost" resultType="com.bit.bnb.hostboard.model.PostVO">
		select * from hostBoard where postNo=#{postNo}
	</select>
	
	<select id="selectPostList" resultType="com.bit.bnb.hostboard.model.PostVO">
		select * from hostBoard order by postNo desc
	</select>
	
	<select id="getPostList" parameterType="java.util.HashMap" resultType="com.bit.bnb.hostboard.model.PostVO">
		<![CDATA[select * from hostBoard where postNo > 0 order by postNo desc limit #{firstRow}, #{postCountPerPage}]]>
	</select>
	
	<select id="getPostTotalCount" resultType="int">
		select postTotalCount from postTotalCount where idx=1
	</select>
	
	<update id="upPostTotalCount">
		update postTotalCount set postTotalCount = postTotalCount + 1 where idx=1;
	</update>
	
	<update id="downPostTotalCount">
		update postTotalCount set postTotalCount = postTotalCount - 1 where idx=1;
	</update>


	<!-- <insert parameterType="com.bit.bnb.host.model.HostModel"
		id="create">
		INSERT INTO `host` (`bUserId`, `bTitle`, `bContent`, `bDate`)VALUES
		(#{bUserId},#{bTitle},#{bContent},now())
	</insert>

	<select id="listAll"
		parameterType="com.bit.bnb.host.model.HostModel"
		resultType="com.bit.bnb.host.model.HostModel">
		select * from host order by bId DESC 
	</select>
	parameterType은 값을 검색, resultType은 이걸로 값을 받아오는것

	<select id="read" resultType="com.bit.bnb.host.model.HostModel">
		select * from host where bId =
		#{bId}
	</select>

	<delete id="delete">
		delete from host where bId = #{bId} 
	</delete>

	<update id="update">
		update host set bTitle=#{bTitle}, bContent=#{bContent},bUserId=#{bUserId} where bId=#{bId}
	</update> -->

</mapper>

 
        