<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.RoomsMapper">

<!-- 	<select id="selectRoomsReview" parameterType="java.lang.Integer"
		resultType="com.bit.bnb.mypage.model.ReviewVO">
		SELECT * FROM review rv INNER JOIN reservation rs ON
		rv.reservationNum = rs.reservationNum WHERE
		rs.roomsId = #{roomsId}
	</select> -->

</mapper>