@charset "UTF-8";

#left_list {
	width: 250px;
	height: 300px;
	margin: 20px 40px;
	background-color: white;
	border-radius: 20px;
}

#mypage_wrap_cont {
	width: 85%;
	margin: 0 auto;
	position: relative;
}

.mypage_list {
	list-style: none;
	font-size: 18px;
	padding-top: 10px;
}

#list {
	width: 180px;
	margin: 0 auto;
	padding-top: 60px;
}

#mypage_cont {
	width: 1000px;
	background-color: white;
	position: absolute;
	top: 0px;
	right: 0px;
	border-radius: 25px;
}

.reviewNav {
	padding: 20px;
}

#review_cont {
	padding: 20px;
	width: 970px;
	margin: 0 auto;
}

#review_table {
	width: 100%;
	background-color: #FFEAEA;
	margin-bottom: 30px;
}

.review_photo {
	width: 200px;
	height: 150px;
}

.review_host {
	height: 40px;
	width: 350px;
	line-height: 40px;
}

#review_img {
	width: 130px;
	border-radius: 70px;
	padding: 10px;
	margin-left: 20px;
}

#review_write_table {
	width: 100%;
	background-color: #EEEEEE;
	margin-bottom: 30px;
}

.profile_left {
	height: 500px;
	margin-left: 40px;
	margin-top: 40px;
	text-align: center;
}

#profile_photo {
	max-width: 300px;
	max-height: 300px;
	overflow: hidden;
}

.profile_right {
	margin-top: 75px;
	text-align: center;
}

.profile_wrap {
	margin: 0 auto;
	width: 800px;
}

#reviewCont_wrap{
	width: 800px;
	height: 360px;
	padding-top:30px;
	margin:0 auto;
}

