@charset "UTF-8";

#left_list {
	width: 250px;
	height: 300px;
	margin: 20px 40px;
	background-color: white;
	border-radius: 20px;
}

#mypage_wrap_cont {
	width: 85%;
	margin: 0 auto;
	position: relative;
}

.mypage_list {
	list-style: none;
	font-size: 18px;
	padding-top: 10px;
}

#list {
	width: 100px;
	margin: 0 auto;
	padding-top: 65px;
}

#mypage_cont {
	width: 1000px;
	background-color: white;
	position: absolute;
	top: 0px;
	right: 0px;
	border-radius: 25px;
}

.reviewNav {
	padding: 20px;
}

#review_cont {
	padding: 20px;
	width: 970px;
	margin: 0 auto;
}

#review_photo{
	max-width: 90px;
	max-height: 90px;
	overflow: hidden;
	margin:0px 15px;
}

#review_write_table {
	width: 100%;
	background-color: #EEEEEE;
	margin-bottom: 30px;
}

.profile_left {
	height: 500px;
	margin-left: 40px;
	margin-top: 40px;
	text-align: center;
}

#profile_photo {
	max-width: 300px;
	max-height: 300px;
	overflow: hidden;
}

.profile_right {
	margin-top: 65px;
	text-align: center;
}

.profile_wrap {
	margin: 0 auto;
	width: 800px;
}

#reviewCont_wrap {
	width: 800px;
	height: 360px;
	padding-top: 30px;
	margin: 0 auto;
}

#editForm_wrap {
	width: 600px;
	margin: 40px auto 70px auto;
}

#editButton {
	width: 200px;
	margin: 0 auto;
}

.historyCard {
	max-width: 17rem;
	max-height: 200px;
	overflow: hidden;
}

.history {
	text-align: center;
}

#wishDiv {
	border: 1px solid;
	height: 40px;
}

#wish_wrap {
	width: 900px;
	margin: 0 auto;
}
.wish_div:hover .wish_hover{
	background-color: #aaaaaa;
	opacity:1;
}
